{% for pagelink in pages.children.visible %}
<a {% if not page.home() %}class="navbar-item"{% endif %} href="{{ pagelink.url }}">
  {% if pagelink.header.icon %}<i class="mdi mdi-{{ pagelink.header.icon }}"></i>{% endif %}
  {{ pagelink.menu }}
</a>
{% endfor %}
{% if page.home() %}<div class="iconrow"> {% endif %}
  <a href="https://github.com/sacmanxman2" class="iconLink {% if not page.home%}navbar-item{% endif %}" target="_blank">
    <span class="icon"><i class="mdi mdi-github-circle"></i></span>
  </a>
  <a href="https://twitter.com/sacmanxman2" class="iconLink {% if not page.home%}navbar-item{% endif %}" target="_blank">
    <span class="icon"><i class="mdi mdi-twitter"></i></span>
  </a>
{% if page.home() %}</div>{% endif %}
