section
    dl
        dt Why should I care about what you have to say?
        dd I don't know, but you're on this site reading these questions so you must care at least a little.
        dt Why are you making an FAQ if you hardly have any audience?
        dd I find it amusing
        dt Why is it so short?
        dd I haven't finished it yet.

