.postLink-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem -1rem;
  
  @media(max-width: $desktop) {
    flex-direction: column;
  }

  a {
    flex: 1 1 0;
    margin: 1rem;
  }
}
