$family-sans-serif: "Open Sans";
$family-header-title: "Comfortaa";
$primary: rgb(50, 0, 200);

@import '../../../../node_modules/bulma/bulma.sass';
@import 'hover-scss/_hover.scss';
@import 'header';
@import 'triangles';
@import 'home-body';

body {
  min-height: 100vh;
}

section {
  padding: .5rem;
}

.postrow {
  border-bottom: 1px solid $border;
  padding: 1rem;
  color: $card-color;

}

.padding-top {
  padding-top: 1rem;
}

form > div {
  margin-bottom: 1rem;
}

.darkmode {
  background: darken( $primary, 40% );
  color: $grey-lighter;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  .label,
  footer,
  .footer,
  strong,
  .postrow,
  .input, 
  .textarea {
    color: $grey-lighter;
    @include prefixed(placeholder, $grey-lighter);
  }

  footer,
  .footer,
  .input,
  .textarea {
    background: darken( $primary, 40% );
  }

  .content table td, 
  .content table th {
    border: 1px solid $dark;
    border-width: 0 0 1px;
  }


}
