$family-sans-serif: "Open Sans";
$family-header-title: "Comfortaa";
$primary: rgb(50, 0, 200);

@import '../../../../node_modules/bulma/bulma.sass';
@import 'hover-scss/_hover.scss';
@import 'header';
@import 'triangles';
@import 'home-body';
@import 'portfolio';

section {
  padding: .5rem;
}

.postrow {
  border-bottom: 1px solid $border;
  padding: 1rem;
  color: $card-color;

}

.padding-top {
  padding-top: 1rem;
}

form > div {
  margin-bottom: 1rem;
}
