$family-sans-serif: "Open Sans";
$family-header-title: "Comfortaa";
$primary: rgb(50, 0, 200);

@import '../../../../node_modules/bulma/bulma.sass';
@import 'hover-scss/_hover.scss';
@import 'header';
@import 'triangles';

section {
  padding: .5rem;
}
