{% extends 'partials/base.html.twig' %}

{% block content %}
  {% for p in page.collection %}
  <a href="{{ p.url }}">
    <div class="postrow" data-aos="fade-up">
      <h2>{{ p.title }}</h2>
      <p class="postdate">Published on {{ p.header.date|date("F d, Y h:i A") }}</p>
      <p>{{ p.summary }}</p>
    </div>
  </a>
  {% endfor %}
{% endblock %}
