{% extends 'default.html.twig' %}

{% block content %}
  <h1 class="title is-1">{{ page.title }}</h1>
  <p class="is-italic subtitle is-6">~{{ page.content|readingtime }}</p>
  {{ page.content }}
  <p class="is-italic subtitle is-6">Published on {{ page.date|date("l F n, Y") }}</p>
{% endblock %}
