nav
    ul
        li
            a.menu-parent(href='/') Home
        li
            a.menu-parent(href='/blog/') Blog
        li
            a.menu-parent(href="/computer-setup/") Computer Setup 
        li
            a.menu-parent(href='/about/') About
        li
            a.menu-parent(href='/faq/') FAQ

